/* src/App.css */
h1{
  text-align: center;
}
.player-card {

  width: 18rem;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.player-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
}

.player-card img {
  max-width: 100%;
  height: auto;
}

.player-card .card-body {
  margin: 1.2rem;
  background-color: #f8f9fa;
}

.player-card .card-title {
  font-size: 1.5rem;
  color: #007bff;
}

.player-card .card-text {
  font-size: 1rem;
}
